<div>
    {{#each artist}}
        <h1>{{this.name}}</h1>
        <img class="img" src={{this.images.[0].url}} alt="album img">
        <hr>
        <a href="/albums/{{this.id}}">View Albums</a>
    {{/each}}
</div>