{{!-- <form action="action="/artist-search" method="GET> --}}

<div class="home">
    <form action="/artist-search" method="GET">
        <p>
        <label>
            <input type="text" name="artist-search">
        </label>
        </p>
        <button type="submit">Search for an Artist</button>
    </form>  
</div>